<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="sm:relative sm:flex sm:h-16 sm:items-center sm:justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/" class="
              <% if current_page == "products" %>
                bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium
              <% else %>
                text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium
              <% end %>">Store</a>
            <a href="/categories/" class="
            <% if current_page == "categories" %>
                bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium
              <% else %>
                text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium
              <% end %>">Categories</a>
            <a href="/contacts/show" class="
              <% if current_page == "contact" %>
                bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium
              <% else %>
                text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium
              <% end %>">Contact</a>
            <a href="/about/show" class="
              <% if current_page == "about" %>
                bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium
              <% else %>
                text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium
              <% end %>">About</a>
            <a href="/cart/" class="
              <% if current_page == "cart" %>
                bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium
              <% else %>
                text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium
              <% end %>">Cart</a>
            <a href="/products/search/" class="block lg:hidden
              <% if current_page == "search_results" %>
                bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium
              <% else %>
                text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium
              <% end %>">Search</a>
          </div>
        </div>
      </div>
      <div class="hidden lg:block">
        <%= form_with(url: search_products_path, method: :get, local: true, class: "col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3") do %>
          <% if current_page == "search_results" %>
            <%= select_tag (:id), options_from_collection_for_select(@categories, :id, :name,  { selected: search_catid }), :prompt => "All" %>
            <%= text_field_tag(:q, search_q, class: "form-control form-control-dark text-bg-dark w-52", placeholder: 'Search') %>
          <% else %>
            <%= select_tag (:id), options_from_collection_for_select(@categories, :id, :name, 0), :prompt => "All" %>
            <%= text_field_tag(:q, nil, class: "form-control form-control-dark text-bg-dark w-52", placeholder: 'Search') %>
          <% end %>
          <button type="submit" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
            Search
          </button>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="/" class="
              <% if current_page == "products" %>
                bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium
              <% else %>
                text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium
              <% end %>">Store</a>
      <a href="/categories/" class="
            <% if current_page == "categories" %>
                bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium
              <% else %>
                text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium
              <% end %>">Categories</a>
      <a href="/contacts/show" class="
              <% if current_page == "contact" %>
                bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium
              <% else %>
                text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium
              <% end %>">Contact</a>
      <a href="/about/show" class="
              <% if current_page == "about" %>
                bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium
              <% else %>
                text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium
              <% end %>">About</a>
      <a href="/cart/" class="
              <% if current_page == "cart" %>
                bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium
              <% else %>
                text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium
              <% end %>">Cart</a>
      <a href="/products/search/" class="block lg:hidden
              <% if current_page == "search_results" %>
                bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium
              <% else %>
                text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium
              <% end %>">Search</a>
    </div>
  </div>
</nav>
